# Configuración de Odoo
ODOO_PORT=8069
ODOO_DB_NAME=odoo
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo_password_2024

# Configuración de Dolibarr
DOLIBARR_PORT=8080
DOLIBARR_DB_ROOT_PASSWORD=root_password_2024
DOLIBARR_DB_NAME=dolibarr
DOLIBARR_DB_USER=dolibarr
DOLIBARR_DB_PASSWORD=dolibarr_password_2024
DOLIBARR_DB_PREFIX=llx_
DOLIBARR_ADMIN_LOGIN=admin
DOLIBARR_ADMIN_PASSWORD=admin_password_2024
DOLIBARR_MODULES=modSociete,modPropale,modCommande,modExpedition,modFacture,modStock,modCompta

# Configuración de red
DOMAIN=localhost
